body{
    margin: 0;
    padding: 0;
    background-color:aqua;
    background-image:url('425160.jpg') ;
    background: url('425160.jpg');
    background-repeat: repeat-x;
    /* background.size: cover; cover; */

}
html*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 900;
    font-style: oblique;
    font-display: fallback;
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
    text-shadow: 3px 0px 10px #000;
    display: inline-block;
}
#para{
    color:chartreuse
}
img{
    float:right;
    margin-right: 20px;
    border: 10px solid #999;
    border-radius: 50px;
}